cluster coor {
    {{ groups['firstcoor'][0] }}:127.0.0.1
    dead remove-index-00
{% for coor_ip in groups['coor'] %}
    {{ coor_ip }}  
{% endfor %}
}

cluster data {
    {{ groups['firstcoor'][0] }}:127.0.0.1
    dead remove-index-00
{% for data_ip in groups['data'] %}
    {{ data_ip }}
{% endfor %}
}

cluster all {
    {{ groups['firstcoor'][0] }}:127.0.0.1
    dead remove-index-00
{% for all_ip in groups['all'] %}
    {{ all_ip }}
{% endfor %}
}