<?xml version='1.0' encoding="utf-8"?>
<servers>
{% for data_ip in groups['data'] %}
    <rack>
        <node ip="{{ data_ip }}"/>
    </rack>
{% endfor %}
    <vc_name name="{{ vc_name }}"/>
    <comment message="{{ vc_name }}"/>

</servers>
