installPrefix= {{ installPrefix }}
coordinateHost = {{ coordinateHost }}
coordinateHostNodeID = {{ coordinateHostNodeID }}
dataHost = {{ dataHost }}
#existCoordinateHost =
#existDataHost =
#existGcwareHost=
gcwareHost = {{ gcwareHost }}
gcwareHostNodeID =  {{ gcwareHostNodeID }}
dbaUser = gbase
dbaGroup = gbase
dbaPwd = '{{ dbaPwd }}'
rootPwd = ''
#dbaHome =
#numaCpuBind=''
#numaMemBind=''
#numaHddBind=''
#dbRootPwd = ''
#rootPwdFile = rootPwd.json
characterSet = {{ characterSet }}
#sshPort = 22