<?xml version="1.0" encoding="utf-8"?>
<servers>
    {% for host in groups['data'] %}
    <rack>
        <node ip="{{ hostvars[host]['Private_Ip1'] }}"/>
        <node ip="{{ hostvars[host]['Private_Ip2'] }}"/>
    </rack>
{% endfor %}
</servers>